<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
</head>
<body>

  <h3>Data Item</h3>
  <table border="1" cellpadding="5">
    <thead>
      <th>No</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Codeitem</th>
      <th>Action</th>
    </thead>
    <tbody>
    </tbody>
  </table>

  <br>

  <a href="/item/tambah"> Tambah Item </a>

</body>
</html>
