<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
</head>
<body>

  <h2>All Data Supplier and Item</h2>

  <table border="1" cellpadding="5">
    <thead>
      <th>No</th>
      <th>Name</th>
      <th>Kota</th>
      <th>List Item</th>
      <th>Add Item</th>
      <th>Action</th>
    </thead>
    <tbody>

    </tbody>
  </table>

</body>
</html>
