<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <h3>Tambah Data Suppliers</h3>

  <form class="" action="/suppliers/tambah" method="post">
    <table>
      <tr>
        <td>Nama</td>
        <td>
          <input type="text" name="nama" value="">
        </td>
      </tr>
      <tr>
        <td>Kota</td>
        <td>
          <input type="text" name="kota" value="">
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="submit" value="Simpan">
        </td>
      </tr>
    </table>
  </form>

  <br>

  <a href="/suppliers"> << kembali ke halaman suppliers </a>

</body>
</html>
